extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='user') User:
      select#user.form-control(type='select' placeholder='Select user' name='user' required='true')
        for user in user_list
          if order
            option(value=user._id selected=(order.user.toString()==user._id.toString() ? 'selected' : false)) #{user.firstName}
          else
            option(value=user._id) #{user.firstName}
        
    div.form-group
      label(for='price') Price:
      input#price.form-control(type='text' placeholder='Price' name='price' required='true' value=(undefined===order ? '' : order.price))

    button.btn.btn-primary(type='submit') Create

  if errors 
    ul
      for error in errors
        li!= error.msg
