extends layout

block content
  h1 #{title}: #{user.username}
  
  p #[strong Email:] #{user.email}
  
  div(style='margin-left:20px;margin-top:20px')
    p
      a(href=user.url+'/delete') Delete user
    p
      a(href=user.url+'/update') Update user